.venv/
__pycache__/
*.duckdb
*.duckdb.wal
data/bronze/sales/*.csv
data/bronze/gtfs/*.zip

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# DuckDB Warehouse & Large Raw GeoJSONs
data/
*.duckdb
*.geojson
